---
title: Welcome to Middleman
---

<script src="javascripts/libs/jquery-3.1.1.min.js" type="text/javascript"></script>
<script src="javascripts/libs/underscore-min.js" type="text/javascript"></script>
<script src="javascripts/libs/json2.js" type="text/javascript"></script>
<script src="javascripts/libs/backbone-min.js" type="text/javascript"></script>


<!-- BACKBONE FILES -->
<script src="javascripts/views/AppView.js" type="text/javascript"></script>
<script src="javascripts/app.js" type="text/javascript"></script>

<!-- -->

<div class="welcome">
  <div class="logo">
    <%= image_tag "middleman-logo.svg" %>
  </div>
  <h1>Middleman is Running</h1>
  <p class="doc">
    <%= link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank" %>

    <div id="container">
    	
    </div>



  </p><!-- .doc -->
</div><!-- .welcome -->
